<div class="container">
    <div class="column">
        <div class="profiledetails">
            <div class="profile-info">
                <div class="profileheader">
                    <h1> {{usersService.getUsername()}} </h1>
                </div>

                <h3>Current stats:</h3>
                <p>Events hosted: {{eventsHost}}</p>
                <p>Visits as guest: {{eventsGuest}}</p>
                </div>
                <h2><i>More info coming soon! :)</i></h2>
        </div>

        
    </div>
</div>
